
@use '../custom';



.navbar {
    padding: 0.5rem 1rem 0 0; 
    background-color:rgba( #0366fc,0.85);  
        
    li{
        a{
        font-weight: 700;
        color: #fff;
        };
    }
     

  
}
