@use '../custom';

.row > * {
    padding-right: 0 !important;
}

.container-sidebar{
    padding: 0;
    background-color: rgba(#b3d1ff, 0.80);
    

    .sidebar-obavestenja{
        padding: 0;
        width: auto;
        position: relative;
        li{
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            margin-bottom: 0;
            list-style: none;
                  
        } 
        .sidebar-item{
            padding-top: 0;
            margin-top: 0;
            margin-bottom: 0;          
            padding-left: 3rem;  
            width: 310px;     
            
            .btn-sidebar{      
                width: 250px;
                height: 70px;
                border: none;
                background-color: transparent;
                position: relative;
                
                .p-btn{
                    position: absolute;
                    margin-left: 25%;
                    margin-top: 5%;
                    color: rgb(190, 74, 74);
                    font-weight: 700;
                    text-align:center;
                                      
                    }   
             
                img{                     
                 background-position: center;
                 padding: 0;
                 width: 100%;
                 opacity: 1;
                 background-color: transparent;
                
                 &:hover{                         
                     opacity: 0.7;
                     cursor: pointer; 
                     }
                 }
            }                
        }          
    }    
}