@use '../custom' as *;
.container{
    background-color: rgba(2, 125, 146, 0.801);
}
.navbar-nav{
    .nav-item{
        li {
            padding: 0 0.7rem;
      
            a {
              color: rgb(48, 140, 233);
              padding: 0 0.7rem;
              text-transform: capitalize;
              font-weight: 600;      
      
            }
            &:hover {
              color: $white;
            }
        
          }

    }
   


    
    
}